body, html{
    background-color:#34515E;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 8px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 8px solid #a94442;
}

.tilbakeknapp {
    height: 50px;
    width: 200px;
    border-radius: 0px;
    background-color: #222222;
    color: #eaeaea;
    border: none !important;
}

.tilbakeknapp:hover {
    background-color: #555555;
    color: #eaeaea;
}


.regknapp{    
    height: 50px;
    width: 200px;
    background-color:tomato;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.regbutton:hover{    
    color: white;
    background-color:#aa422f;
}


.endreknapp {
    height: 50px;
    width: 50px;
    background-color: #555555;
    color:#eaeaea;
    margin: 0 8px 10px 8px;
}

.endreknapp:hover {
    background-color: #eaeaea;
    color: #555555;
}

.slettknapp {
    height: 50px;
    width: 50px;
    background-color: #222222;
    color: #eaeaea;
    margin: 0 8px 10px 8px;
}

.slettknapp:hover {
    background-color: tomato;
    color: #222222;
}

.videreknapp {
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color:#111111;
    border: none !important;
    margin-bottom: 5px;
}

.videreknapp:hover {
    color: #222222;
    background-color:limegreen;
}

.minTabell {
    color: #eaeaea;
}

.calcbutton{    
    height: 50px;
    width: 200px;
    background-color:#202020;
    border-radius: 0px;
    font-size: 18px;
    color:tomato;
    border: none !important;
    margin-bottom: 5px;
}
.calcbutton:hover{    
    color: #202020;
    background-color:tomato;
}

.logbutton{    
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton:hover{    
    color: white;
    background-color:darkolivegreen;
}

.logbutton:active{    
    color: white;
    background-color:darkolivegreen;
}

.register-form label{
    color: aliceblue;
    
}
.register-form input{
    color: #111111;
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}

h1 {
   color: tomato;
}

.midtstilt {
    margin-left: auto;
    margin-right: auto;
}

.boxed {
    margin-left: auto;
    margin-right: auto;
	padding: 1.5em;
	background-color: yellowgreen;
	text-align: justify;
}

/* Velkomstvindu */
.velkomst {
    width: 100%;
    height: 400px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.velkomst h1 {
    color: tomato;
}

.velkomst button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    color: #333333;
    background-color: #eaeaea;
}

.velkomst button:hover {
    color: #eaeaea;
    background-color: tomato;
}

/* Design av feilmeldingboks. */
.feilbox {
    width: 600px;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    background-color: #111111;
}

.feilbox h2 {
    color: #eaeaea;
}

.feilbox button {
    width: 100px;
    color: #222222;
    background-color: yellowgreen;
}

.feilbox button:hover {
    background-color: #222222;
    color: tomato;
}

/* Design av ok-boks. */
.okbox {
    width: 600px;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    background-color: #eaeaea;
}

.okbox h2 {
    color: #222222;
}

.okbox button {
    width: 100px;
    color: tomato;
    background-color: #34515E;
}

.okbox button:hover {
    background-color: tomato;
    color: #34515E;
}

/* SLIDERS */


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 500px;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #222222;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #222222;
  border: 2px solid #232323;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: tomato;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}

.boks {
    width: 800px;
    margin: 0 auto;
}

.boks .slider {
    float:left;
    width: 50%;
    padding-right: 80px;
}

.hoyre-label {
    float: right;
    color: #eaeaea;
    color: #eaeaea;
    font-size: 1.5em;
}

.venstre-label {
    float: left;
    color: #eaeaea;
    font-size: 1.5em;
}

#boksinput {
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
    width: 110px;
    font-size: 25px;
    font-weight: bold;
    color: #222222;
    border-radius: 5px;
    background: tomato;
    padding: 10px;
    border: 1px solid #222222;
    box-shadow: 5px 5px 5px #333333;
}
.boks h4 {
    padding: 15px 0 3px;
    display: block;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
}

.info {
    margin-top: 10px;
    padding-bottom: 25px;
    font-size: 36px;
}

.inputPersonalia {
    color: #eaeaea;
    font-size: 1.5em;
}

.boks .kategori {
    color: #eaeaea;
}

.header {
    color: #eaeaea;
    margin-bottom: 50px;
}

#skjemafeil {
    color: #9F6000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.feilInput {
    border: 1px solid #9F6000;
}