<div *ngIf="!velkommen && !status && !okBoks">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Forbrukslåner</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Hjem</a></li>
                <li><a href="#" (click)="visMinLaneSoknad()">Hent min lånesøknad</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <!--VELKOMSTVINDU-->
    <div class="jumbotron velkomst" *ngIf="velkommen">
        <div class="text-justify">
            <h1>Velkommen til Angular2 gjeldsbrev</h1>
        </div>
        <div class="center-block">
            <button class="btn regbutton" (click)="tilbake()">Gå til lånekalkulator</button>
        </div>
    </div>


    <!--KALKULATOR-->
    <div *ngIf="visKalkulator && !status">
        <div class="boks">
            <div class="text-left">
                <h1 class="header">Lån inntil 700 000 kroner!</h1>
            </div>
            <div>
                <h3 class="kategori">Lånebeløp</h3>
                <div class="venstre-label">10 000 kr</div>
                <div class="hoyre-label">700 000 kr</div>
                <div>
                    <input type="range" min="10000" max="700000" [(ngModel)]="belop" 
                           (ngModel)="avdrag" step="5000" (mousedown)="kalkulerAvdrag()" (mouseup)="kalkulerAvdrag()" />
                </div>
                <div>
                    <input id="boksinput" value="{{ belop }}" />
                </div>
                
            </div>
            <div>
                <h3 class="kategori">Nedbetalingstid</h3>
                <div class="venstre-label">3 år</div>
                <div class="hoyre-label">20 år</div>
                <div>
                    <input type="range" min="3" max="20" [(ngModel)]="tid" step="1" 
                           (mousedown)="kalkulerAvdrag()" (mouseup)="kalkulerAvdrag()" />
                </div>
                <div>
                    <input id=boksinput value="{{ tid }}" />
                </div>
            </div>
            <div class="info">
                <h2 style="color:#eaeaea;">{{ avdrag }} kr <small style="color:#eaeaea;">pr mnd</small></h2>
            </div>
            <div id="litentekst">
                <p><small>* Effektiv rente 7%. <br />Ved å trykke "søk nå" godtar du mine vilkår.</small></p>
            </div>
        </div>
        <button class="btn btn-default logbutton" (click)="tilSkjema()">Søk nå</button>
    </div>


    <!--SØKNADSSKJEMA-->
    <div class="boks" *ngIf="visSkjema && !status">
        <p style="color:#eaeaea; font-size: 2em;" class="boksinput">
            Ønsket lånebeløp <input id="boksinput" value="{{ belop }}" /> kr.
        </p>

        <form [formGroup]="skjema"  class="register-form">
            <input class="form-control" formControlName="id" type="hidden" #id />
            <div class="inputPersonalia">Personnummer</div>
            <input class="form-control" name="personnummer" formControlName="personnummer" placeholder="11 siffer" />
            <p class="alert alert-warning" style="width:400px;"
               [hidden]="skjema.controls.personnummer.valid || (skjema.controls.personnummer.pristine && !submitted)">
                Kun 11 siffer!
            </p>

            <div class="inputPersonalia">Mobiltelefon</div>
            <input class="form-control" name="mobiltelefon" formControlName="mobiltelefon" placeholder="8 siffer" />
            <p class="alert alert-warning"
               [hidden]="skjema.controls.mobiltelefon.valid || (skjema.controls.mobiltelefon.pristine && !submitted)">
                Kun 11 siffer!
            </p>

            <div class="inputPersonalia">Epost</div>
            <input class="form-control" name="epost" formControlName="epost" placeholder="Din epost" />
            <p class="alert alert-warning"
               [hidden]="skjema.controls.epost.valid || (skjema.controls.epost.pristine && !submitted)">
                Ugyldig epost!
            </p>

            
            <input type="hidden" class="form-control" name="nedbetalingstid" formControlName="nedbetalingstid" placeholder="8 siffer" />
            <input type="hidden" class="form-control" name="belop" formControlName="belop" placeholder="8 siffer" />
            <input type="hidden" class="form-control" name="avdrag" formControlName="avdrag" placeholder="8 siffer" />
            
            <p style="color:#eaeaea;">Nedbetaling over {{tid}} år. Avdrag {{avdrag}} kr/mnd.</p>
            <hr />
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    <button *ngIf="skjemaStatus=='registrer'" [disabled]="!skjema.valid"
                            class="btn btn-default regbutton" (click)="lagreSoknad()" title="Registrer søknad">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button *ngIf="skjemaStatus=='endre'" title="Bekreft endring" [disabled]="!skjema.valid"
                            class="btn btn-primary regbutton" (click)="endreMinSoknad()">
                        <span class="glyphicon glyphicon-edit"> Endre</span>
                    </button>
                    <button *ngIf="skjemaStatus=='endre'" [disabled]="!skjema.valid"
                            (click)="slettSoknad(id.value)" class="btn btn-default regbutton" title="Slett søknad">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button *ngIf="skjemaStatus=='endre'" [disabled]="!skjema.valid"
                            (click)="avbryt()" class="btn btn-default regbutton" title="Avbryt">
                        <span class="glyphicon glyphicon-remove">Avbryt</span>
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <button class="btn btn-default logbutton" (click)="tilbake()">Endre lånebeløpet her</button>
                </div>
            </div>
        </form>
    </div>

    <!--Hent en persons søknad(er)-->
    <div class="col-md-6 col-md-offset-1" *ngIf="finnMinSoknad">
        <h1>Hent min søknad</h1>
        <form [formGroup]="skjema" class="register-form" (ngSumbit)="vedSubmit()">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label for="belop">Tast inn søknadsnummeret</label>
                    <input class="form-control" name="id" #data
                           formControlName="id" />
                    <p class="alert alert-warning"
                       [hidden]="skjema.controls.id.valid || (skjema.controls.id.pristine && !submitted)">
                        Kun heltall. Maks 10 siffer og mimimum 1 siffer.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <button *ngIf="skjemaStatus=='endre'" [disabled]="!skjema.valid" 
                            class="btn btn-default regbutton" (click)="hentMinSoknad(data.value)">Hent min søknad</button>
                </div>
            </div>
        </form>

        <button class="btn btn-default logbutton" (click)="tilbake()">Søk om lån</button>
    </div>

    <div *ngIf="status">
        <div class="jumbotron feilbox">
            <div>
                <h2 id="feilmelding">Opps. {{melding}}</h2>
                <button class="btn regbutton" (click)="tilbake()">Ok</button>
            </div>
        </div>
    </div>

    <div *ngIf="okBoks">
        <div class="jumbotron okbox">
            <div>
                <h2 id="melding">{{melding}}</h2>
                <button class="btn regbutton" (click)="tilbake()">Ok</button>
            </div>
        </div>
    </div>


</div>