<div *ngIf="!velkommen && !status && !okBoks">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Forbrukslåner</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Hjem</a></li>
                <li>
                    <a *ngIf="skjemaStatus != 'endre'"href="#" (click)="visMinLaneSoknad()">Hent mine lånesøknader</a>
                    <a *ngIf="skjemaStatus == 'endre'" href="#" (click)="avbryt()">Avslutt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">


    <!--KALKULATOR-->
    <div *ngIf="visKalkulator && !status">
        <div class="boks">
            <div class="text-left">
                <h1 class="header">Lån inntil 700 000 kroner!</h1>
            </div>
            <div>
                <h3 class="kategori">Lånebeløp</h3>
                <label class="venstre-label">10 000 kr</label>
                <label class="hoyre-label">700 000 kr</label>
                <div>
                    <input type="range" min="10000" max="700000" [(ngModel)]="belop" 
                            step="5000" (ngModelChange)="kalkulerAvdrag()" />
                </div>
                <div>
                    <input id="boksinput" value="{{ belop }}" />
                </div>
                
            </div>
            <div>
                <h3 class="kategori">Nedbetalingstid</h3>
                <label class="venstre-label">3 år</label>
                <label class="hoyre-label">20 år</label>
                <div>
                    <input type="range" min="3" max="20" [(ngModel)]="tid" step="1" 
                          (ngModelChange)="kalkulerAvdrag()" />
                </div>
                <div>
                    <input id=boksinput value="{{ tid }}" />
                </div>
                <div style="float: right;">
                    <button *ngIf="skjemaStatus == 'registrer'" class="btn btn-default videreknapp" (click)="tilSkjema()">Søk nå</button>
                    <button *ngIf="skjemaStatus == 'endre'" class="btn btn-default videreknapp" (click)="tilSkjema()">Til skjema</button>
                </div>
            </div>
            <div class="info">
                <h2 style="color:#eaeaea;">{{ avdrag }} kr <small style="color:#eaeaea;">pr mnd</small></h2>
            </div>
            <div style="color: #888888;">
                <p><small>* Effektiv rente 7%. <br />Ved å trykke "søk nå" godtar du mine vilkår.</small></p>
            </div>
        </div>
        
    </div>


    <!-- Søknadsskjema -->
    <div class="boks" *ngIf="visSkjema && !status">
        <p style="color:#eaeaea; font-size: 2em;" class="boksinput">
            Ønsket lånebeløp <input id="boksinput" value="{{ belop }}" /> kr.
        </p>

        <form [formGroup]="skjema"  class="register-form" (ngSubmit)="vedSubmit()">
            <input class="form-control" formControlName="id" type="hidden" #id />
            <label class="inputPersonalia">Personnummer</label>
            <input class="form-control" name="personnummer" formControlName="personnummer" placeholder="11 siffer" />
            <p class="alert alert-warning" style="width:400px;"
               [hidden]="skjema.controls.personnummer.valid || (skjema.controls.personnummer.pristine && !submitted)">
                Kun 11 siffer!
            </p>

            <label class="inputPersonalia">Mobiltelefon</label>
            <input class="form-control" name="mobiltelefon" formControlName="mobiltelefon" placeholder="8 siffer" />
            <p class="alert alert-warning" style="width:400px;"
               [hidden]="skjema.controls.mobiltelefon.valid || (skjema.controls.mobiltelefon.pristine && !submitted)">
                Kun 8 siffer!
            </p>

            <label class="inputPersonalia">Epost</label>
            <input class="form-control" name="epost" formControlName="epost" placeholder="Din epost" />
            <p class="alert alert-warning" style="width:400px;"
               [hidden]="skjema.controls.epost.valid || (skjema.controls.epost.pristine && !submitted)">
                Ugyldig epost!
            </p>

            
            <input type="hidden" class="form-control" name="nedbetalingstid" formControlName="nedbetalingstid" placeholder="8 siffer" />
            <input type="hidden" class="form-control" name="belop" formControlName="belop" placeholder="8 siffer" />
            <input type="hidden" class="form-control" name="avdrag" formControlName="avdrag" placeholder="8 siffer" />
            
            <p style="color:#eaeaea;">Nedbetaling over {{tid}} år. Avdrag {{avdrag}} kr/mnd.</p>
            <hr />
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    <button type="submit" *ngIf="skjemaStatus=='registrer'" [disabled]="!skjema.valid"
                            class="btn btn-default regknapp"  title="Oppretter en søknad">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="submit" *ngIf="skjemaStatus=='endre'" title="Endrer søknaden" [disabled]="!skjema.valid"
                            class="btn btn-primary regknapp" >Bekreft endring
                    </button>
                    <button *ngIf="skjemaStatus=='endre'" 
                            (click)="tilOversikt()" class="btn btn-default regknapp" title="Til oversikt">
                        Til min oversikt
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <button class="btn btn-default videreknapp" (click)="tilbake()">Endre lånebeløpet her</button>
                </div>
            </div>
        </form>
    </div>

    <!--Hent en persons søknad(er)-->
    <div class="col-md-6 col-md-offset-1" *ngIf="finnMinSoknad">
        <h1>Hent mine søknader</h1>
        <form [formGroup]="skjema" class="register-form" (ngSumbit)="vedSubmit()">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label for="belop">Tast inn personnummeret</label>
                    
                    <input class="form-control" name="personnummer" #data
                           formControlName="personnummer" />
                    <p class="alert alert-warning"
                       [hidden]="skjema.controls.personnummer.valid || (skjema.controls.personnummer.pristine && !submitted)">
                        11 siffer..
                    </p>
                    <p *ngIf="ikkePnr" class="alert alert-warning">Du er ikke registrert</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <button [disabled]="!skjema.valid" 
                            class="btn btn-default regknapp" (click)="hentMineSoknader(data.value)">Hent mine søknader</button>
                </div>
            </div>
        </form>

        <button class="btn btn-default videreknapp" (click)="tilbake()">Søk om lån</button>
    </div>

    <div *ngIf="status">
        <div class="jumbotron feilbox">
            <div>
                <h2 id="feilmelding">Opps. {{melding}}</h2>
                <button class="btn regknapp" (click)="tilbake()">Ok</button>
            </div>
        </div>
    </div>

    <div *ngIf="okBoks">
        <div class="jumbotron okbox">
            <div>
                <h2 id="melding">{{melding}}</h2>
                <button class="btn regknapp" (click)="tilbake()">Ok</button>
            </div>
        </div>
    </div>

    <div *ngIf="visListe && !okBoks">
        <table class="table minTabell">
            <tr>
                <th>Søknadsnummer</th>
                <th>Lånebeløp</th>
                <th>Nedbetalingstid</th>
                <th>Avdrag pr måned</th>
                <th>Epost</th>
                <th>Mobiltelefon</th>
                <th>Personnummer</th>
                <th></th>
            </tr>
            <tbody *ngFor="let soknad of alleSoknader">
                <tr>
                    <td>{{soknad.id}}</td>
                    <td>{{soknad.belop}}</td>
                    <td>{{soknad.nedbetalingstid}}</td>
                    <td>{{soknad.avdragPrMnd}}</td>
                    <td>{{soknad.epost}}</td>
                    <td>{{soknad.mobiltelefon}}</td>
                    <td>{{soknad.personnummer}}</td>
                    <td>
                        <button class="btn endreknapp" (click)="hentMinSoknad(soknad)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn slettknapp" (click)="slettSoknad(soknad.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>